@charset "UTF-8";
html,
body {
    font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.text_box {
    background: #ccc;
    width: 100%;
    height: 400px;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.text_box p {
    font-weight: bold;
    margin-left: 10px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
}

.input {
    padding: 5px;
    margin-bottom: 5px;
}
.btn {
    margin-top: 10px;
    margin-left: 7px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00d21b;
    color: white;
    cursor: pointer;
}
.msg_date{
    font-size: 12px;
    color: brown;
    margin-left: 5px;
}
#logout.btn{
    background: #d20000;
}

#login.btn{
    background: #1800d2;
}

@media screen and (max-width: 480px){
    html,body {
        padding: 5px;
    }
}
