@charset "UTF-8";
html,
body {
    font-family: 'PingFang TC', 'Heiti TC', '微軟正黑體', sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.text_box {
    background: #eee;
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 10px;
}

.text_box p {
    font-weight: bold;
    margin-left: 10px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;

}

#msg,
#name {
    padding: 5px;
    margin-bottom: 5px;
}

#send {
    margin-top: 10px;
    margin-left: 7px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #00d200;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    html,body {
        padding: 5px;
    }
}
